[package]
name = "tft-advisor"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }
anyhow = { workspace = true }
tft-state = { path = "../tft-state" }
tft-data = { path = "../tft-data" }
